* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    background: #F1ECD4;
    min-height: 100%;
    padding: 20px;
}
#face {
    max-width: 400px;
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 0;
}
#inner-face {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: absolute;
    overflow: hidden;
}
#moustache {
    position: absolute;
    bottom: 0;
    left: 37.5%;
    background: #000;
    width: 25%;
    height: 20%;
}
#moustache::before {
    content: "";
    position: absolute;
    left: -20px;
    top: 0;
    border-top: 40px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid #000;
    border-bottom: 40px solid #000;
}
#moustache::after {
    content: "";
    position: absolute;
    right: -20px;
    top: 0;
    border-top: 40px solid transparent;
    border-left: 10px solid #000;
    border-right: 10px solid transparent;
    border-bottom: 40px solid #000;
}
#hair {
    background: #000;
    width: 100%;
    height: 50%;
    position: absolute;
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
}
#hair::before {
    content: "";
    background-image: linear-gradient(123deg, transparent 50%, #f1ecd4 50%);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100% 100%;
    height: 90%;
    width: 30%;
    position: absolute;
    bottom: 0;
    left: 0;
}
#hair::after {
    content: "";
    background-image: linear-gradient(-147deg, transparent 50%, #f1ecd4 50%);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100% 100%;
    height: 90%;
    width: 70%;
    position: absolute;
    bottom: 0;
    left: 30%;
}
